@import '../../styling';

.list {
  margin: 0;
}

.flex {
  display: flex;
  gap: $sizing-xxs;
  line-height: initial;
  align-items: center;
}

.about {
  @include defaults;
  @include paragraph;

  display: grid;
  grid-template-columns: 67% 33%;
  width: 100%;
  height: 100%;

  border-top: $border;

  h2 {
    font-family: $font-serif;
  }

  hr {
    border: none;
    border-top: $border;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  @media (min-width: $bp-m) {
    grid-template-columns: 50% 50%;
  }

  z-index: 0;

  &__item {
    &__list {
      display: grid;
      grid-template-columns: max-content auto;

      &--full {
        grid-column: 1 / 3;
      }

      &--left {
        grid-column: 1 / 1;
        padding-right: $sizing-s;
        min-width: 36px;
      }

      &--right {
        grid-column: 2 / 2;
      }
    }
  }

  &__cv {
    @include flex;
    @include paragraph;
    @include border-right;

    grid-column: 1 / 3;
    grid-row: 2 / 2;
    padding: 0 $sizing-s $sizing-s;

    @media (min-width: $bp-m) {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      align-self: baseline;
      padding: $sizing-s;
    }
  }

  &__bio {
    @include flex;

    grid-column: 1 / 3;
    grid-row: 1 / 1;
    padding: $sizing-s $sizing-s 0;

    @media (min-width: $bp-m) {
      grid-column: 1 / 1;
      grid-column: 2 / 2;
      align-self: baseline;
      padding: $sizing-s;
    }
  }
}
