@import '../base.scss';

.research {
  @include text;
}

.work {
  display: inline-block;
  position: float;
  margin: $default-margin-mobile;

  @media (min-width: $mobile) {
    margin: $default-margin;
  }
}