# Files:
.DS_Store
.cpanel.yml

# Folders:
build/
node_modules
__pycache__/
coverage

# Node / npm:
npm-debug.log

# VSCode:
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Filetypes:
*.indd
*.psd
*.wav
*.txt
*.wg

!dist/**
