
# Folders:
build/
node_modules
__pycache__/
coverage
bin
svg
db

# Node / npm:
npm-debug.log

# VSCode:
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Filetypes:
*.indd
*.psd
*.wav
*.txt
*.wg

!dist/**
# Files:
.DS_Store

