@import '../../index.scss';
@import '../Modal/Modal.scss';

.button {
  background-color: white;
  margin: auto;
  padding: 0;
  border: none;

  :active, :focus, :target {
    border: none;
  }

  &--close{
    &--img {
      border: 0;
      margin: 4px;
      padding: 4px;

      width: $h1_m;
      height: $h1_m;

      @media (min-width: $desktop) {
        width: $h1;
        height: $h1;;
      }
    }
  }
}
