@import '../../styling';

.text {
  padding: $sizing-s;
  font-size: $font-size-m;

  & > p {
    margin-bottom: $sizing-xs;
  }

  & > a,
  :any-link {
    @include text;
    color: inherit;

    &::before {
      content: '⮕';
    }
    &:hover {
      &::before {
        content: '⇨';
      }
    }
  }
}
