@import '../../styling';

.clipboard-copy {
  &__button {
    background-color: inherit;
    transition: background-color 2s ease-out 0s;
    border: 1px solid $colors-blue;
    border-radius: $sizing-xxs;
    text-align: center;
    padding: 0 $sizing-xs;

    &--copied {
      background-color: $colors-blue-highlight;
      transition: background-color 0s step-start 0s;
    }

    &--copy-failed {
      background-color: $colors-red;
      transition: background-color 0s step-start 0s;
    }
  }
}
