@import './index.scss';

.app {
	@include fadein;
	margin: 8px;
	padding: 16px;
	height: 100vh;
	color: black;
  background: white;
  
  @media (min-width: $desktop-bp) {
    width: $desktop-bp;
    margin: 8px auto;
  }
}
