@import '../../root';

.picture {
	height: 0;

	&__image {
		object-fit: cover;
		height: 100vw;
		width: 100%;

		@media (min-width: $desktop-bp) {
			width: $desktop-bp;
			height: $desktop-bp;
		}
	}
}
