@import '../root.scss';

.app {
	@include fadein;
	margin: 8px;
	padding: 16px;
	height: 100vh;
	color: black;
  background: white;
  
  @media (min-width: $desktop-bp) {
    width: $desktop-bp;
    margin: 8px auto;
  }
}

.home {
	display: inline-block;
	position: float;
	margin: 4px;
	border: 0;

	&--image {
		@include fadein;
		display: block;
		object-fit: cover;
		height: 60vw;
		width: 100%;
	}
}

main {
	width: 100%;

	@media (min-width: $desktop-bp) {
		float: left;
		width: $desktop-bp;
	}
}

footer {
	height: 20px;
}

