@import '../../styling';

.feed {
  @include defaults;
  @include paragraph;

  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-bottom: $border;
    list-style-type: none;
  }

  &__entry {
    border-top: $border;

    display: grid;
    flex-direction: column;

    @media (min-width: $bp-m) {
      grid-template-columns: 50% 50%;
    }
  }

  &__info {
    @include border-right;
    line-height: normal;

    padding: $sizing-s;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: $sizing-xs;

    @media (min-width: $bp-m) {
      grid-column: 1;
    }

    h2 {
      @include heading($font-size-h-xl);

      border-right: none;
      width: 100%;
    }

    time {
      @include paragraph;

      align-self: flex-start;

      @media (min-width: $bp-m) {
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      max-height: 500px;
    }

    a {
      width: min-content;
    }
  }

  &__body {
    @include paragraph;

    padding: $sizing-s;
    justify-content: flex-end;

    @media (min-width: $bp-m) {
      padding-top: $sizing-s;
      grid-column: 2;
    }

    p {
      padding: 0;
      margin: 0;
    }

    > blockquote {
      padding: $sizing-xs;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: $sizing-xs;
    }

    p:not(:last-child) > img {
      padding-bottom: $sizing-xs;
    }

    img {
      object-fit: cover;
      width: 100%;
      max-height: 500px;
    }
  }
}
