@import '../../index.scss';

.modal {
  @include text;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  border: $label-border;
  background: white;
  z-index: 1;
  height: auto;
  max-height: 92%;

  padding: $default-padding-mobile 2*$default-padding-mobile;
  top: 26 * $default-padding-mobile;
  left: 5 * $default-margin-mobile;
  right: 5 * $default-margin-mobile;

  @media (min-width: $mobile) {
    padding: 2*$default-padding 4*$default-padding;
    top: 3*$default-margin;
    left: 10%;
    right: 10%;
  }

  &--header {
    width: auto;
    float: right;
    height: 2*$header-font-size;
    position: relative;
    line-height: 2*$header-font-size;

    &--button {
      width: fit-content;
      float: right;
      margin: 0;
    }
  }

  &--body {
    width: 100%;
  }
}
