@import '../../index.scss';

.modal {
  @include fade_in;
  @include text;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  border: $label-border;
  background: white;
  z-index: 1;
  height: auto;
  max-height: 80%;

  top: 20px;
  left: 20px;
  right: 20px;

  @media (min-width: $desktop) {
    max-width: $work-width - 2 * ($desktop-padding + $label-border-width);
    max-height: 95%;
    padding: $desktop-padding;
    top: 32px;
    bottom: 32px;
    left: auto;
    right: auto;
  }

  &--header {
    height: $header-height;
    position: relative;
    line-height: $header-height;
    border: 0;

    width: auto;
    float: right;

    &--button {
      width: fit-content;
      float: right;
      margin: 0;
      padding: 0;
      top: 0;
    }
  }

  &--body {
    width: 100%;
  }
}
