$bp-xs: 360px; // 360×640, 360×720
$bp-s: 375px; // 375×667
$bp-m: 768px; // 768×1024
$bp-l: 1366px; // 1366×768
$bp-xl: 1920px; // 1920×1080

$sizing-xxs: 3px;
$sizing-xs: 9px;
$sizing-s: 18px;
$sizing-m: 36px;
$sizing-l: 72px;
$sizing-xl: 144px;

$font-serif: 'reckless', serif;
$font-sans: 'roobert', sans-serif;
$font-mono: 'space mono', monospace;

$font-size-p-xl: 24px;
$font-size-p-l: 18px;
$font-size-p-m: 16px;
$font-size-p-s: 14px;
$font-size-p-xs: 14px;

$font-size-h-xl: 36px;
$font-size-h-l: 22px;
$font-size-h-m: 16px;
$font-size-h-s: 16px;
$font-size-h-xs: 14px;

$colors-blue: #00309c;
$colors-blue-highlight: #bfcdff;
$colors-grey: #fafafa;
$colors-red: #9e002f;
$colors-red-hightlight: #ffbdcb;

$border: 1px solid $colors-blue;
