// Break-points
// 360×640
// 1366×768
// 1920×1080
// 375×667
// 360×720
// 768×1024
$bp-xs: 360px;
$bp-s: 375px;
$bp-m: 768px;
$bp-l: 1366px;
$bp-xl: 1920px;

$sizing-xs: 9px;
$sizing-s: 18px;
$sizing-m: 36px;
$sizing-l: 72px;
$sizing-xl: 144px;

$font-size-xl: 36px;
$font-size-l: 28px;
$font-size-m: 20px;
$font-size-s: 16px;
$font-size-xs: 14px;

$colors-blue: #00309c;
$colors-grey: #fafafa;
