@import "../../root";

.shader-index {
  @include desc;
  @include text;
  list-style-type: none;
  float: center;
  width: calc(100% - 16px);

  &__list-item {
    width: 100%;
    padding: 0 25%;

    &:hover {
      border-left: $random-border;
    }
  }
}
