* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  width: 92vw;
  height: 100vh;
  padding: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  display: block;
  float: left;
  overflow: visible;
}
@media print {
  body {
    font-size: 12px;
  }
}

header {
  width: 100%;
  display: inline-block;
  border-bottom: 0;
}

main {
  width: 92vw;
  overflow: visible;
}

footer {
  border-top: 0;
  width: 100%;
  clear: both;
}
footer p {
  vertical-align: middle;
  font-size: 15px;
  text-align: center;
  margin: 16px;
}

ul {
  list-style-type: none;
  padding: 2px 0;
}

li {
  padding: 2px 0;
}

.col {
  clear: both;
}
@media (min-width: 768px) {
  .col {
    clear: none;
  }
}

.left-col {
  width: 92vw;
  height: auto;
  margin: 0 4px;
}
@media (max-width: 768px) {
  .left-col .tech {
    float: left;
    width: 50%;
    border-bottom: 0;
  }
  .left-col .education {
    float: right;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .left-col {
    width: 22.08vw;
    height: 100vh;
    float: left;
    clear: none;
  }
}
@media print {
  .left-col {
    width: 22.08vw;
    float: left;
    clear: none;
  }
  .left-col .tech {
    float: left;
    width: inherit;
    border-bottom: 0;
  }
  .left-col .education {
    position: absolute;
    float: left;
    width: inherit;
    top: 200vh;
    margin-top: 64px;
  }
}

.right-col {
  width: 92vw;
  height: auto;
}
@media (min-width: 768px) {
  .right-col {
    width: 68.08vw;
    height: 100vh;
    float: right;
    clear: none;
  }
}
@media print {
  .right-col {
    width: 68.08vw;
    height: 100vh;
    float: right;
    clear: none;
  }
}
@media (min-width: 768px) {
  .right-col--sub {
    width: 48%;
  }
}
.right-col--l {
  margin: 0 4px;
}
@media (min-width: 768px) {
  .right-col--l {
    float: left;
  }
}
.right-col--r {
  margin: 0 4px;
}
@media (min-width: 768px) {
  .right-col--r {
    float: right;
  }
}
@media print {
  .right-col--r {
    position: absolute;
    height: auto;
    top: 200vh;
    margin-top: 64px;
  }
}

.heading--name {
  font-size: 48px;
  float: left;
}
@media print {
  .heading--name {
    font-size: 40px;
  }
}

.subheading {
  float: right;
  margin-top: 8px;
  text-align: right;
}
.subheading--vocation {
  font-size: 40px;
}
@media print {
  .subheading--vocation {
    font-size: 32px;
  }
}
.subheading--age {
  font-size: 18px;
}

.contact {
  padding: 8px 0;
  width: 100%;
  display: inline-block;
  float: none;
}
.contact--item {
  display: inline-block;
  font-size: 15px;
  text-align: left;
  width: 100%;
}
@media (min-width: 768px) {
  .contact--item {
    width: 22.4390243902vw;
    text-align: center;
  }
}

.sect--heading {
  font-size: 32px;
  border-bottom: 0;
  padding: 16px 0;
}
@media print {
  .sect--heading {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  #spirable {
    border-bottom: none;
  }
}

@media print {
  .pg_two {
    position: absolute;
    width: 100%;
    height: auto;
    top: 100vh;
    left: 4px;
    margin: 32px 16px;
  }
}

#bomachat {
  border-bottom: none;
}
@media (min-width: 768px) {
  #bomachat {
    border-bottom: 0;
  }
}

.experience--title {
  border-top: 0;
}
@media (min-width: 768px) {
  .experience--title {
    border-top: 0;
  }
}
@media print {
  .experience .pg_two {
    overflow-wrap: break-word;
    width: 100vw;
  }
}

.education {
  border-bottom: 0;
}
.education--uni {
  padding: 16px 0;
}
.education--course {
  font-size: 24px;
}
@media print {
  .education--course {
    font-size: 18px;
  }
}
.education--institution {
  font-size: 15px;
}
@media print {
  .education--institution {
    font-size: 14px;
  }
}
.education--dates {
  font-size: 12px;
}

.work {
  padding: 16px 0;
  border-bottom: 0;
}
.work--title {
  font-size: 24px;
}
@media print {
  .work--title {
    font-size: 18px;
  }
}
.work--role {
  font-size: 18px;
  margin: 4px 0;
}
@media print {
  .work--role {
    font-size: 16px;
  }
}
.work--dates {
  font-size: 16px;
  margin: 4px 0;
}
@media print {
  .work--dates {
    font-size: 18px;
  }
}
.work--desc {
  font-size: 12px;
}
.work--resp {
  font-size: 12px;
}
.work--resp--title {
  font-size: 16px;
}

.tech {
  width: inherit;
  border-bottom: 0;
}
.tech--list {
  padding: 16px 0;
}
.tech--key {
  font-size: 15px;
}
.tech--item {
  padding-left: 16px;
  font-size: 12px;
  font-weight: normal;
}

/*# sourceMappingURL=cv.css.map */
