$fontface: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$page_width: 97vw;
$page_height: 100%;
$page_gutter: 16px;
$h1: 48px;
$h2: 40px;
$h3: 32px;
$h4: 24px;
$h5: 18px;
$h6: 16px;
$p1: 15px;
$p2: 14px;
$p3: 12px;
$rule_style: 0;//1px solid black;
$buffer_pad: 16px 0 0;


* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  width: $page_width;
  padding: $page_gutter;
  font-family:  $fontface;
  font-size: $h5;
  display: inline-block;
  overflow: visible;

  @media print {
    font-size: $p3;
  }
}

header{
  width: 100%;
  display: inline-block;
  border-bottom: $rule_style;
}

main {
  width: 100%;
  display: inline-block;
  overflow: visible;
}

footer {
  position: relative;
  bottom: 0;
  width: $page_width;
  height: auto;

  p {
    padding: 4px;
    font-size: $h5;
    text-align: left;
    margin: 16px 0;
    width: 100%;
  }
}

ul{
  list-style-type: none;
  padding: 2px 0;
}

li {
  padding:2px 0;
}

.col {
  clear: both;

  @media (min-width: 768px) {
    clear: none;
  }
}

.left-col {
  width: $page_width;
  height: auto;
  margin: 0 4px;

  @media (max-width: 768px) {
    // Todo: make this not use max-width
    .tech {
      float: left;
      width: 50%;
      border-bottom: 0
    }

    .education {
      float: right;
      width: 50%;
    }
  }

  @media (min-width: 768px) {
    width: $page_width * 0.24;
    height: $page_height;
    float: left;
    clear: none;
  }

  @media print {
    width: $page_width * 0.24;
    float: left;
    clear: none;

    .tech {
      float: left;
      width: inherit;
      border-bottom: 0
    }

    .education {
      position: absolute;
      float: left;
      width: inherit;
      height: auto;
      top: $page_height;
      left: 4px;
      margin: 0 $page_gutter;
    }
  }
}

.right-col {
  width: $page_width;
  height: auto;

  @media (min-width: 768px) {
    width: $page_width * 0.74;
    height: $page_height;
    float: right;
    clear: none;
  }

  @media print {
    width: $page_width * 0.74;
    height: $page_height;
    float: right;
    clear: none;
  }

  &--sub{
    @media (min-width: 768px) {
      width: 48%;
    }
  }

  &--l {
    margin: 0 4px;
    @media (min-width: 768px) {
      float: left;
    }
  }

  &--r {
    margin: 0 4px;

    @media (min-width: 768px)  {
      float: right;
    }

    @media print {
      position: absolute;
      height: auto;
      top: $page_height * 2;
      margin-top: $page_gutter;
    }
  }
}

.heading {
  &--name {
    font-size: $h1;
    float: left;

    @media print {
      font-size: $h2;
    }
  }
}

.subheading {
  float: right;
  margin-top: 8px;
  text-align: right;

  &--vocation {
    font-size: $h2;

    @media print {
      font-size: $h3;
    }
  }

  &--age {
    font-size: $h5;
  }
}

.contact {
  padding: 8px 0;
  width: 100%;
  display: inline-block;
  float: none;

  &--item {
    display: inline-block;
    font-size: $p1;
    text-align: left;
    width: 100%;

    @media (min-width: 768px) {
      width: $page_width / 4.1;
      text-align: center;
    }

    @media print {
      width: $page_width / 4.1;
      text-align: center;
    }
  }
}

.sect{
  &--heading{
    font-size: $h3;
    border-bottom: $rule_style;
    padding: $buffer_pad;

    @media print {
      font-size: $h4;
    }
  }
}

#spirable{
  @media (min-width: 768px) {
    border-bottom: none;
  }
}

.pg{
  &--two{
    @media print {
      width: 100%;
      height: auto;
      top: $page_height;
      margin: $page_gutter * 2 $page_gutter;
    }
  }

  &--break {
    display: none;

    @media print {
      display: block;
      height: $page_gutter * 1.5;
    }
  }
}

#bomachat {
  border-bottom: none;

  @media (min-width: 768px) {
    border-bottom: $rule_style;
  }
}

.experience {
  &--title{
    border-top: $rule_style;

    @media (min-width: 768px) {
      border-top: 0
    }
  }

  .pg--two {
    @media print {
      overflow-wrap: break-word;
      width: 100vw;
    }
  }
}

.education{
  border-bottom: $rule_style;

  &--uni{
    padding: $buffer_pad;
  }

  &--course {
    font-size: $h4;

    @media print {
      font-size: $h5;
    }
  }

  &--institution {
    font-size: $p1;

    @media print {
      font-size: $p2;
    }
  }

  &--dates{
    font-size: $p3;
  }
}

.work {
  padding: $buffer_pad;
  border-bottom: $rule_style;

  &--title {
    font-size: $h4;
  }

  &--role {
    font-size: $h5;
    margin: 4px 0;
  }

  &--dates {
    font-size: $h6;
    margin: 4px 0;
  }

  &--team {
    @media print {
      font-size: $h5;
    }
  }

  &--desc {
    font-size: $p3;
  }

  &--resp {
    font-size: $p3;

    &--title {
      font-size: $h6;
    }
  }
}

.tech{
  width: inherit;
  border-bottom: $rule_style;

  &--list{
    padding: 16px 0;
  }

  &--key{
    font-size: $p1;
  }

  &--item{
    padding-left: 16px;
    font-size: $p3;
    font-weight: normal;
  }
}
