$fontface: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$page_width: 92vw;
$page_height: 100vh;
$page_gutter: 16px;
$h1: 48px;
$h2: 40px;
$h3: 32px;
$h4: 24px;
$h5: 18px;
$p1: 16px;
$p2: 14px;
$p3: 12px;
$rule_style: 1px solid grey;
$buffer_pad: 16px 0;


* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  width: $page_width;
  height: $page_height;
  padding: $page_gutter;
  font-family:  $fontface;
  font-size: $h5;
  display: block;
  float: left;
  overflow: visible;
}

header{
  width: 100%;
  display: inline-block;
  border-bottom: $rule_style;
}

main {
  display: block;
  width: $page_width;
  overflow: visible;
}

footer {
  border-top: $rule_style;
  width: 100%;
  clear:both;

  p {
    vertical-align: middle;
    font-size: $p1;
    text-align: center;
    margin: 16px;
  }
}

ul{
  list-style-type: none;
  padding: 2px 0;
}

li {
  padding:2px 0;
}

.col {
  margin: 0 4px;
}

.left-col {
  width: $page_width * 0.18;
  height: $page_height;
  float: left;
}

.right-col {
  width: $page_width * 0.78;
  height: $page_height;
  float: right;

  &--sub{
    width: 48%;
  }

  &--l {
    float: left;
  }

  &--r {
    float: right;
  }
}



.heading {

  &--name {
    font-size: $h1;
    float: left;
  }
}

.subheading {
  float: right;
  margin-top: 8px;
  text-align: right;

  &--vocation {
    font-size: $h2;
  }

  &--age {
    font-size: $h5;
  }
}

.contact {
  padding: 8px 0;
  width: 100%;
  display: inline-block;
  float: none;

  &--item {
    width: $page_width / 4.1;
    display: inline-block;
    text-align: center;
    font-size: $p1;
  }

  &--telephone {}
  &--email {}
  &--website {}
  &--github {}
}

.sect{
  &--heading{
    font-size: $h3;
    border-bottom: $rule_style;
    padding: $buffer_pad;
  }
}

.experience {
  &--title{}
}

#spirable{
  border-bottom: none;
}

.education{
  border-bottom: $rule_style;
  &--uni{
    padding: $buffer_pad;
  }
  &--course {
    font-size: $h4;
  }
  &--institution {
    font-size: $p1;
  }
  &--dates{
    font-size: $p3;
  }
}

.personal{}

.work{
  padding: $buffer_pad;
  border-bottom: $rule_style;

  &--title{
    font-size: $h3;
  }

  &--role{
    font-size: $h4;
  }

  &--dates{
    font-size: $h5;
    margin: 4px 0;
  }

  &--desc{
    font-size: $p3;
  }

  &--resp {
    font-size: $p3;

    &--title {
      font-size: $h5;
    }
  }
}

.tech{
  width: inherit;
  border-bottom: $rule_style;

  &--list{
    padding: 16px 0;
  }

  &--item{
    padding-left: 16px;
    font-size: $p3;

    &--key{
      font-size: $p2;
    }
  }

  &--title{}
}

.skills{}
