@import url('https://fonts.googleapis.com/css?family=Archivo');

@mixin text {
  color: black;
  text-decoration: none;
  font-family: 'Archivos', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @include text;
}