@import '../../index.scss';

.SiteTitle {
  text-align: left;
  border: $label-border;

  margin: $default-margin-mobile;
  padding: $default-padding-mobile 2*$default-padding-mobile;
  font-size: 24px;
  line-height: $bar-button-height-mobile;

  @media (min-width: $mobile) {
    margin: $default-margin;
    padding: $default-padding 2*$default-padding;
    font-size: 32px;
    line-height: $bar-button-height;
  }
}
