@import '../../index.scss';

.punctum {
  position: relative;
  border: $label-border;

  &-image {
    display: block;
    object-fit: cover;
    height: 60vw;
    width: 100%;
  }

  &-label {
    background-color: white;
    position: absolute;
    width: 80%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    border: $label-border;

    padding: $default-padding-mobile;
    height: $bar-button-height-mobile;
    line-height: $bar-button-height-mobile;

    @media (min-width: $mobile) {
      padding: $default-padding;
      height: $bar-button-height;
      line-height: $bar-button-height;
    }
  }

    &-title {
      @include text;
      vertical-align: middle;
      text-align: center;

      font-size: 14px;

      @media (min-width: $mobile) {
        font-size: 18px;
      }
    }
}
