@import '../../base.scss';

.punctum {
  position: relative;
  width: 100%;
  border: $label-border;

  &-image {
    display: block;
    object-fit: cover;
    height: 60vw;
    width: 100%;
  }

  &-title {
    @include text;
    font-size: 18px;
    position: absolute;
    border: $label-border;
    background: blue;
    width: 80%;
    height: $bar-button-height;
    line-height: $bar-button-height;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    text-align: center;
    padding: 1.5*$default-padding;
  }
}