@import '../../styling';

.page-404 {
  @include defaults;
  @include flex;

  align-items: center;
  padding: 96px;
  color: $colors-blue;
  font-family: -apple-system, Roboto, sans-serif, serif;

  a {
    display: block;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    border: solid 1 black;
  }
}
