@import '../../index.scss';

.post {
  @include text;
  padding: $mobile-padding;

  font-size: $p3;

  @media (min-width: $desktop) {
    font-size: $p1;
  }

  &--title {
    vertical-align: middle;
    width: fit-content;
    float: left;
    height: 40px;
    width: auto;
    margin: $mobile-margin 0;

    font-size: $h1_m;

    @media (min-width: $desktop) {
      font-size: $h1
    }
  }

  &--desc {
    width: 100%;
    float: left;
    padding: 0;
    padding-bottom: 16px;
  }

  &--image {
    width: 100%;
    height: auto;

    @media (min-width: $desktop) {
    }
  }
}
