@import '../../index.scss';

.post {
  @include text;

  font-size: 14px;

  @media (min-width: $mobile) {
    font-size: 24px;
  }

  &--title {
    vertical-align: middle;
    width: fit-content;
    float: left;
    font-size: $header-font-size-mobile;

    @media (min-width: $mobile) {
      font-size: $header-font-size
    }
   }

  &--desc {}

  &--image {
    width: 100%;
    height: auto;

    @media (min-width: $mobile) {
    }
  }
}
