@import './index.scss';

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @include text;
}

.app {
  margin: $desktop-margin;
  padding: $desktop-padding;
  height: 100vh;
  color: black;
  background: white;
}

.header {
  text-align: center;

  @media (min-width: $desktop) {
    float: left;
    margin: auto;
    width: 25%;
    text-align: left;
    overflow: hidden;
  }
}

.main {
  width: 100%;

  @media (min-width: $desktop) {
    float: left;
    width: 60%;
  }
}

.home {
  display: inline-block;
  position: float;
  margin: $mobile-margin;
  border: 0;

  @media (min-width: $desktop) {
    margin: $desktop-margin;
  }

  &--image {
    @include fade_in;

    display: block;
    object-fit: cover;
    height: 60vw;
    width: 100%;
    max-width: $work-width;
    max-height: $work-width * $img-ratio;
  }
}
