@import './index.scss';

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @include text;
}

.app {
  margin: 8px 8px;
  padding: $default-padding;
  height: 100vh;
  color: black;
  background: white;
}

.header {
  text-align: center;

  @media (min-width: $mobile) {
    float: left;
    margin: auto;
    width: 25%;
    text-align: left;
    overflow: hidden;
  }
}

.main {
  width: 100%;

  @media (min-width: $mobile) {
    float: left;
    width: 60%;
  }
}
