@import url('https://fonts.googleapis.com/css?family=Archivo');

$mobile: 768px;
$default-padding: 8px;
$label-border: 1px solid black;
$bar-button-height: 32px;

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin text {
  color: black;
  text-decoration: none;
  font-family: 'Archivo', sans-serif;
}

a {
  @include text;
}

.app {
  margin: 8px 8px;
  height: 100vh;
  color: black;
  background: white;
}

.header {
  text-align: center;
  
  @media (min-width: $mobile) {
    float: left;
    margin: auto;
    width: 25%;
    text-align: left;
    overflow: hidden;
  }
}

.main {

  @media (min-width: $mobile) {
    float: left;
    width: 60%;
  }
}