@import url('https://fonts.googleapis.com/css?family=Archivo');

$header-font-size-mobile: 18px;
$header-font-size: 36px;
$mobile: 768px;
$default-padding-mobile: 4px;
$default-padding: 8px;
$default-margin-mobile: 4px;
$default-margin: 8px;
$label-border: 1px solid black;
$bar-button-height-mobile: 24px;
$bar-button-height: 32px;

@mixin text {
  color: black;
  text-decoration: none;
  font-family: 'Archivo', sans-serif;
}
