@import '../../styling';

.image {
  height: 100%;
  object-fit: contain;

  &__thumbnail {
    width: 50000%;
    filter: brightness(0.8) invert(1) url(#monochrome);
  }
}

.monochrome {
  visibility: hidden;
  height: 0;
}
