@import '../../styling';

.image {
  width: fit-content;
  display: inline-grid;

  &__thumbnail {
    filter: brightness(0.8) invert(1) url(#monochrome);
  }

  &__content {
    height: 100%;
    object-fit: contain;
  }
}

.monochrome {
  visibility: hidden;
  height: 0;
}
