@import '../../styling';

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  @media (min-width: $bp-m) {
    flex-direction: row;
  }
}

.a {
  color: unset;
  text-decoration: none;
}

.writing_index {
  @include defaults;

  display: flex;
  flex-direction: column;
}

.writing_post_list {
  display: flex;
  flex-direction: column;
  gap: $sizing-xxs;

  margin: 0;
  padding: 0;

  border-bottom: $border;

  list-style-type: none;
  cursor: pointer;

  &__item {
    display: flex;
    flex-direction: row;

    width: 100%;
    padding: 0;

    font-size: xx-large;

    border-top: $border;

    &__date {
      @include paragraph;
      @include mono;
      @include inverts;

      align-self: start;

      width: 100%;
      min-width: fit-content;

      padding: $sizing-xxs $sizing-xs;

      @media (min-width: $bp-m) {
        width: unset;
      }
    }

    &__link {
      @include heading($font-size-h-xl);

      width: 100%;

      padding: $sizing-s;

      text-align: left;

      @media (max-width: $bp-m) {
        font-size: larger;
        text-align: center;
      }
    }
  }
}

.writing_post {
  @include defaults;
  @include paragraph;

  border-top: $border;

  & h1 {
    @include heading($font-size-h-xl);

    align-self: start;
  }

  & h2 {
    @include heading($font-size-h-l);

    align-self: start;
  }

  & p {
    width: 100%;
    font-size: larger;

    & img {
      width: 100%;
    }
  }

  & blockquote {
    padding-left: $sizing-xs;
    border-left: $border;
    border-width: $sizing-xxs;
    font-style: italic;
  }

  &__article {
    @include flex;
    @include border-right;

    padding: $sizing-s;

    @media (min-width: $bp-m) {
      max-width: 50%;
    }
  }

  &__body {
    @include flex;

    align-items: center;
  }

  &__date {
    @include paragraph;
    @include mono;
    @include inverts;

    padding: $sizing-xxs $sizing-s;

    @media (min-width: $bp-m) {
      max-width: 50%;
    }
  }
}
