@import '../../styling';

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  @media (min-width: $bp-m) {
    flex-direction: row;
  }
}

.writing_index {
  @include defaults;

  display: flex;
  flex-direction: column;

  a {
    color: unset;
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: $sizing-xxs;

    margin: 0;
    padding: 0;

    border-bottom: $border;

    list-style-type: none;
    cursor: pointer;
  }

  li {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0;

    font-size: xx-large;

    border-top: $border;

    @media (min-width: $bp-m) {
      display: flex;
      flex-direction: row;
    }
  }

  &__date {
    @include paragraph;

    align-self: start;
    padding: $sizing-xs $sizing-xs 0;

    @media (min-width: $bp-m) {
      width: 130px;
      padding: $sizing-xs;
    }
  }

  &__title {
    @include heading($font-size-h-xl);
    width: 100%;
    padding: $sizing-s;

    @media (max-width: $bp-m) {
      font-size: larger;
      padding-top: 0;
    }
  }
}

.writing_post {
  @include defaults;
  @include paragraph;

  border-top: $border;

  & h1 {
    @include heading($font-size-h-xl);

    align-self: start;
  }

  & h2 {
    @include heading($font-size-h-l);

    align-self: start;
  }

  & p {
    width: 100%;
    font-size: larger;

    & img {
      width: 100%;
    }
  }

  & blockquote {
    padding-left: $sizing-xs;
    border-left: $border;
    border-width: $sizing-xxs;
    font-style: italic;
  }

  &__article {
    @include flex;
    @include border-right;

    padding: $sizing-s;

    @media (min-width: $bp-m) {
      max-width: 50%;
    }
  }

  &__body {
    @include flex;

    align-items: center;
  }

  &__date {
    @include paragraph;
    @include mono;
    @include inverts;

    padding: $sizing-xxs $sizing-s;

    @media (min-width: $bp-m) {
      max-width: 50%;
    }
  }
}
