@import '../base.scss';

.Nav {
  fill: white;
  width: 100%;
  overflow: auto;
  display: flex;
}

.NavButton {
  margin: 4px;
  padding: 4px;
  border: 1px solid;
  height: 32px;
  width: fixed;
  background: none;
  fill: white;
  flex: auto;
  justify-content: safe;
}