@import '../../base.scss';

$button-height: 32px;

.nav {
  fill: white;
  width: 100%;
  overflow: hidden;
  display: flex;

  @media (min-width: $mobile) {
    display: inline-block;
  }

  &-button {
    margin: 4px;
    padding: 4px;
    border: $label-border;
    height: $button-height;
    width: fixed;
    background: none;
    fill: white;
    flex: auto;
    justify-content: space-evenly;
    
    @media (min-width: $mobile) {
      display: block;
      justify-content: left;
    }
  
    &-label {
      padding: 0 4px;
      height: 100%;
      font-size: 24px;
      line-height: $button-height;
      text-align: left;
      vertical-align: middle;
    }
  }
}
